*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

:root {
    --col-1: calc((100% / 12) * 1);
    --col-2: calc((100% / 12) * 2);
    --col-3: calc((100% / 12) * 3);
    --col-4: calc((100% / 12) * 4);
    --col-5: calc((100% / 12) * 5);
    --col-6: calc((100% / 12) * 6);
    --col-7: calc((100% / 12) * 7);
    --col-8: calc((100% / 12) * 8);
    --col-9: calc((100% / 12) * 9);
    --col-10: calc((100% / 12) * 10);
    --col-11: calc((100% / 12) * 11);
    --col-12: calc((100% / 12) * 12);
}

/* Styles for Grid System */
    .col-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
    }

    .col-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
    }

    .col-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
    }

    .col-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
    }

    .col-5 {
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
    }

    .col-6 {
        flex: 0 0 var(--col-6);
        max-width: var(--col-6);
    }

    .col-7 {
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
    }

    .col-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
    }

    .col-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
    }

    .col-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
    }

    .col-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
    }

    .col-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
    }

/* Small Screens */
@media screen and (min-width: 576px){
    .col-sm-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
    }

    .col-sm-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
    }

    .col-sm-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
    }

    .col-sm-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
    }

    .col-sm-5 {
    flex: 0 0 var(--col-5);
    max-width: var(--col-5);
    }

    .col-sm-6 {
    flex: 0 0 var(--col-6);
    max-width: var(--col-6);
    }

    .col-sm-7 {
    flex: 0 0 var(--col-7);
    max-width: var(--col-7);
    }

    .col-sm-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
    }

    .col-sm-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
    }

    .col-sm-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
    }

    .col-sm-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
    }

    .col-sm-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
    }
}
/* Medium Screens */
@media screen and (min-width: 768px){
    .col-md-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
    }

    .col-md-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
    }

    .col-md-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
    }

    .col-md-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
    }

    .col-md-5 {
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
    }

    .col-md-6 {
        flex: 0 0 var(--col-6);
        max-width: var(--col-6);
    }

    .col-md-7 {
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
    }

    .col-md-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
    }

    .col-md-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
    }

    .col-md-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
    }

    .col-md-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
    }

    .col-md-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
    }
}

/* Large Screens */
@media screen and (min-width: 992px){
    .col-lg-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
    }

    .col-lg-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
    }

    .col-lg-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
    }

    .col-lg-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
    }

    .col-lg-5 {
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
    }

    .col-lg-6 {
        flex: 0 0 var(--col-6);
        max-width: var(--col-6);
    }

    .col-lg-7 {
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
    }

    .col-lg-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
    }

    .col-lg-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
    }

    .col-lg-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
    }

    .col-lg-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
    }

    .col-lg-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
    }
}

/* Extra Large Screens */
@media screen and (min-width: 1200px){
    .col-xl-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
    }

    .col-xl-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
    }

    .col-xl-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
    }

    .col-xl-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
    }

    .col-xl-5 {
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
    }

    .col-xl-6 {
        flex: 0 0 var(--col-6);
        max-width: var(--col-6);
    }

    .col-xl-7 {
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
    }

    .col-xl-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
    }

    .col-xl-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
    }

    .col-xl-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
    }

    .col-xl-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
    }

    .col-xl-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
    }
}
/* End of Styles for Grid System */

/* Banner Styles */  
    .container {
        padding: 4rem 2rem;
        background-color: blanchedalmond;
    }

    .content .service-banner-img {
        flex: 0 0 50%;  
        -webkit-flex: 0 0 30%;
        padding-top: 70%;  
        position: relative;
    }

    .content .service-banner-img img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h2 {
        font-weight: 800;
        font-size: 2rem; 
    }

    .service-banner-content {
        padding-top: 10px;
    }

    .service-banner-title {
        padding: 5px 0px;
    }

    .service-banner-description {
        line-height: 1.4rem;
        font-size: 18px;
        padding-bottom: 5px;
    }

    .service-banner-button button {
        width: 130px;
        height: 38px;
        font-size: 14px;
        font-weight: bold;
        background-color: white;
        color: #191919;
        border: 2px solid #191919;
        border-radius: 8px;
        margin: 10px 0px 15px 0px; 
    }

    .service-banner-button button:hover {
        background-color: black;
        color: white;
    }

@media screen and (min-width: 768px){
    .row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
    }
  
    .service-banner-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        padding-left: 30px;        
        }

}
/* End of Banner Styles */